<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ANIME RESULT</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <%- include('../templates/header.ejs'); %>

  <link rel="icon" href="favicon.png">
  <script src="socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  	<!---- <span id="span_url"><%= socketURL %></span> --->
 	<div class="container">
		<h1> ANIME AWARDS RESULT! </h1>
		<div class="left">
			<img src="img/tadaa.jpg" width="300" height="200">
		   	<p><b>YOUR NAME</b></p>
 			<span id="span_name">0</span>
 		</div>
 		<div class="right">
			<img src="img/wwu.jpg" width="300" height="200">
			<p><b>WEATHERING WITH YOU</b></p>
 			<span id="span_wwu">0</span>
 		</div>
	</div>



	<script type="text/javascript">
		var socket = io.connect($("#span_url").html());

		socket.on('vote_name', function(vote){
			var addVote = parseInt(vote);
			var count = parseInt($("#span_name").html());

			var newCount = count + addVote;
			console.log(newCount);
			$('#span_name').html(newCount);
		});

		socket.on('vote_wwu', function(vote){
		var addVote = parseInt(vote);
		var count = parseInt($("#span_wwu").html());

		var newCount = count + addVote;
		console.log(newCount);
		$('#span_wwu').html(newCount);
		});

		socket.on('vote_name')
	</script>

</body>
</html>