<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ANIME VOTING</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

    <%- include('../templates/header.ejs'); %>

  <link rel="icon" href="favicon.png">
  <script src="socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
  <!---	<span id="span_url"><%= socketURL %></span> --->
  <div class="container">
	<h1> ANIME AWARDS VOTING! </h1>
	 <div class="left">
		 <img src="img/tadaa.jpg" width="300" height="200">
			<p><b>YOUR NAME</b></p>
		 <button type="submit" id="btn_name" placeholder="Vote">VOTE</button>
	 </div>
	 <div class="right">
		 <img src="img/wwu.jpg" width="300" height="200">
			<p><b>WEATHERING WITH YOU</b></p>
		 <button type="submit" id="btn_wwu" placeholder="Vote">VOTE</button>
	 </div> 
</div>


	<script type="text/javascript">
		var socket= io.connect($("#span_url").html());

		$("#btn_name").click(function(){
			socket.emit('vote_name', '1');
			socket.emit('vote_wwu', '0');
			alert("Vote Done for Your Name. Thank you for voting!");
		});
		$("#btn_wwu").click(function(){
			socket.emit('vote_name', '0');
			socket.emit('vote_wwu', '1');
			alert("Vote Done for Weathering with You. Thank you for voting!");
		});
	</script>

</body>
</html>